.footer {
	margin-top: var(--em_pageGap);
	background: var(--em_color__bg);
	padding-block: var(--em_sectionPaddingY);
	padding-inline: var(--em_pagePaddingX);
	font-size: 13px;
}

.inner {
	gap: 1.5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.meta {
	color: #666;
}

.right {
	gap: 1em;
	display: flex;
	align-items: center;
}

.coffeeButton {
	display: flex;
}