{
	"env": {
		"es6": true,
		"browser": true,
		"es2021": true,
		"node": true
	},
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"overrides": [
		{
			"files": [
				"*.jsx",
				"*.js"
			]
		}
	],
	"root": true,
	"rules": {
		"react/react-in-jsx-scope": "off",
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"computed-property-spacing": [
			"error",
			"always"
		],
		"space-in-parens": [
			"error",
			"always"
		],
		"lines-between-class-members": [
			"error",
			"always"
		],
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": "function",
				"next": "function"
			},
			{
				"blankLine": "always",
				"prev": "block",
				"next": "function"
			},
			{
				"blankLine": "always",
				"prev": "function",
				"next": "block"
			},
			{
				"blankLine": "always",
				"prev": "*",
				"next": "return"
			},
			{
				"blankLine": "always",
				"prev": [
					"const",
					"let",
					"var"
				],
				"next": "*"
			},
			{
				"blankLine": "any",
				"prev": [
					"const",
					"let",
					"var"
				],
				"next": [
					"const",
					"let",
					"var"
				]
			}
		],
		"no-multi-spaces": [
			"error",
			{
				"exceptions": {
					"VariableDeclarator": true
				}
			}
		],
		"no-trailing-spaces": "error",
		"camelcase": "error",
		"class-methods-use-this": "error",
		"eqeqeq": [
			"error",
			"always"
		],
		"multiline-comment-style": [
			"error",
			"starred-block"
		],
		"no-console": [
			"warn",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		],
		"spaced-comment": [
			"error",
			"always"
		],
		"yoda": [
			"error",
			"never"
		],
		"semi": [
			"error",
			"never"
		],
		"eol-last": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"single"
		],
		"brace-style": [
			"error",
			"1tbs"
		],
		"space-before-blocks": [
			"error",
			"always"
		],
		"no-mixed-spaces-and-tabs": [
			"error",
			"smart-tabs"
		],
		"no-tabs": "off",
		"space-infix-ops": "error",
		"keyword-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"comma-spacing": [
			"error",
			{
				"before": false,
				"after": true
			}
		],
		"arrow-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"func-call-spacing": [
			"error",
			"never"
		],
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"arrow-parens": [
			"error",
			"always"
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1,
				"maxEOF": 1
			}
		],
		"no-whitespace-before-property": "error",
		"no-empty": [
			"error",
			{
				"allowEmptyCatch": true
			}
		],
		"no-unexpected-multiline": "error"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}