#errorMonitor__consoleOutput {
	gap: 0.15em;
	margin-block: 1em;
	display: flex;
	flex-direction: column;

	.errorMonitor__alert {
		margin-block: 0;

		&-success {
			color: #1eff00;
		}

		&-danger {
			color: #ff0000;
		}
	}
}
