.adminPage {
	--formElementBorder: 1px solid #dcdcde;
	gap: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 2em auto 0;
	padding: 0 20px 0 2px;
	max-width: 100%;
	font-size: 15px !important;

	@media screen and (max-width: 782px) {
		padding-right: 10px;
	}

	.adminHeader,
	.tab_content {
		border-radius: 1em;
		background: #fff;
		padding: 2em 4em;

		@media screen and (max-width: 782px) {
			padding: 2em 2em;
		}

		@media screen and (max-width: 480px) {
			padding: 1em;
		}
	}

	.adminHeader,
	.adminPage_body {
		filter: drop-shadow(0px 0px 8px rgba(99, 99, 99, 0.2));
	}

	.adminPage_container {
		width: 100%;
		max-width: 43.75rem;

		&.fullWidth {
			max-width: 100%;
		}
	}

	.adminTitle {
		gap: 0.5em;
		display: flex;
		align-items: center;

		span {
			font-size: 6em !important;
		}

		div {
			h1 {
				font-size: 2em;
				font-weight: 700;
			}

			p {
				margin: 0.25em 0 0.5em;
			}
		}
	}

	.pluginStatus {
		gap: 1.5em;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;

		& > div {
			gap: inherit;
			display: inherit;
			flex-flow: inherit;
			justify-content: inherit;
		}
	}

	.adminHeaderDivider {
		margin: 1.5em 0 2em;
	}

	.adminPage_nav {
		gap: 0.5em;
		display: flex;
		padding: 0 1em;

		.nav-tab {
			transition: ease 0.15s;
			margin: 0;
			outline: none;
			border: none;
			border-bottom: none;
			border-radius: 1em 1em 0 0;
			background: #f1f1f1;
			padding: 0.4em 1.5em 0.25em;
			text-decoration: none;
			color: #0008;

			&:hover:not(.nav-tab-active) {
				box-shadow: 0px -3px 4px #0005;
			}

			&:focus {
				outline: none;
				border: none;
				box-shadow: none;
			}

			&.nav-tab-active {
				border-bottom-color: #fff;
				background: #fff;
				cursor: default;
				color: #000;
			}
		}
	}

	p,
	input,
	textarea,
	button:is(.button, .button-primary, .button-secondary),
	input[type='submit']:is(.button, .button-primary, .button-secondary) {
		font-size: inherit;
	}

	input[id^='error_monitor_settings'],
	textarea[id^='error_monitor_settings'],
	select[id^='error_monitor_settings'] {
		border: var(--formElementBorder);
		border-radius: 0.35em;
	}

	.adminInstructionsList {
		margin: 2em 1em 3em;
		padding-left: 1.5em;
		list-style: '👉';

		li {
			padding-left: 1em;

			&:not(:last-child) {
				margin-bottom: 1em;
			}

			&::marker {
				display: inline-block;
			}
		}
	}

	.adminButtonRow {
		gap: 1em;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin: 1em 0;

		& > p.submit {
			padding: 0;
			margin: 0;
		}
	}

	.setupInstructions {
		background: #fff;
		padding: 15px;
		border: 1px solid #ccd0d4;
		margin-bottom: 20px;
	}
}
