/**
 * CSS naming convention.
 *
 * To work in unison with CSS modules which will break with hyphens (-), I use
 * prefix_block_element__modifier. All concatenated names are in camelcase, e.g:
 * 
 * em_someButton
 * em_someButton_label
 * em_someButton_label__fontCursive
 * em_someButton__primary
 * em_someButton__blue
 * em_someButton__medium
 * 
 * CSS custom props and similar should be prefix_property__modifier, e.g:
 * 
 * --em_color__teal
 *
 * Reusable element/block custom props should be structured prefix_targetProperty, eg:
 *
 * --em_inputBorder
 */



// GLOBAL.

#errorMonitor {
	--em_color__bg: #fff;
	--em_color__border: #c5c7cb;
	--em_color__text: #1f2937;
	--em_color__muted: #6b7280;

	--em_color__primary: #3d76cb;
	/* WP blue */
	--em_color__primaryHover: hsl(216, 63%, 57%);
	--em_color__success: #16a34a;
	--em_color__warning: #f59e0b;
	--em_color__danger: #dc2626;

	--em_color__white: #fff;
	--em_color__black: #1f2937;

	--em_color__neutral1: #fafafa;
	--em_color__neutral2: #ededed;
	--em_color__neutral3: #d6d6d6;
	--em_color__neutral4: #bfbfbf;
	--em_color__neutral5: #8c8c8c;
	--em_color__neutral6: #595959;

	--em_color__transNeutral1: #e8e8e855;
	--em_color__transNeutral2: #cfcfcf55;
	--em_color__transNeutral3: #b1b1b155;
	--em_color__transNeutral4: #8c8c8c55;
	--em_color__transNeutral5: #4a4a4a55;
	--em_color__transNeutral6: #00000055;

	--em_filter__smokeyShadow: drop-shadow(0px 0px 8px rgba(99, 99, 99, 0.2));

	--em_fieldBorder: 1px solid var(--em_color__border);
	--em_containerBorder: 1px solid var(--em_color__border);

	--em_borderRadius__xs: 0.25em;
	--em_borderRadius__sm: 0.5em;
	--em_borderRadius__md: 0.75em;
	--em_borderRadius__lg: 1em;
	--em_borderRadius__xl: 1.5em;

	--em_gap__xs: 0.25em;
	--em_gap__sm: 0.5em;
	--em_gap__md: 1em;
	--em_gap__lg: 2em;
	--em_gap__xl: 4em;

	--em_pagePadding: 0 var(--em_gap__sm);
	--em_pageGap: var(--em_gap__md);
	--em_sectionPadding: var(--em_gap__md);

	@media screen and (min-width: 480px) {
		--em_sectionPadding: var(--em_gap__lg);
	}

	@media screen and (min-width: 782.001px) {
		--em_pagePadding: 0 var(--em_gap__md);
		--em_pageGap: var(--em_gap__lg);
		--em_sectionPadding: var(--em_gap__lg) var(--em_gap__xl);
	}

	--em_wpadminbarHeight_jsControlled: 32px;

	color: var(--em_color__text);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	label,
	input,
	select {
		color: var(--em_color__text);
	}
}


// RESET.

#wpcontent {
	padding: 0 !important;
}

#errorMonitor {
	font-size: 15px !important;

	* {
		box-sizing: border-box;
	}

	p,
	input,
	textarea,
	button {
		font-size: inherit;
	}
}