.panel {
	border-top: var(--em_containerBorder);
	background: none;
	padding-block: var(--em_sectionPaddingY);
	padding-inline: var(--em_pagePaddingX);
}

.gridColumns {
	gap: var(--em_gap__md);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}